@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: rgb(48, 36, 36);
  background-image: linear-gradient(to top left, #171be7 0%, #74b3d8 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
